<div style="position: relative;margin-top:80px">
<div class="no-bg bm-item" >
    <span class="bm-one-line-left">姓名</span>
    <span>
        <input type="text" class="editable editable-click no-border text-left"  placeholder="输入姓名" data-ng-model="contactOptions.name"/>
        <i ng-show="contactOptions.name!=''" class="fa-times-circle fa pull-right" style="margin-left: 0px;"  data-ng-click="contactOptions.name=''"></i>
    </span>

</div>

<div class="no-bg bm-item" >
    <span class="bm-one-line-left">手机</span>
    <span>
        <input type="text" class="editable editable-click no-border text-left"  placeholder="输入手机" data-ng-model="contactOptions.mobile"/>
        <i ng-show="contactOptions.mobile !=''" class="fa-times-circle fa pull-right" style="margin-left: 0px;"  data-ng-click="contactOptions.mobile=''"></i>
    </span>

</div>

<!--<div class="no-bg bm-item" >-->
    <!--<span class="bm-one-line-left">电话</span>-->
    <!--<span>-->
        <!--<input type="text" class="editable editable-click no-border text-left"  placeholder="输入电话" data-ng-model="contactOptions.phone"/>-->
        <!--<i ng-show="contactOptions.phone !=''" class="fa-times-circle fa pull-right" style="margin-left: 0px;"  data-ng-click="contactOptions.phone=''"></i>-->
    <!--</span>-->

<!--</div>-->

<div class="no-bg bm-item" >
    <span class="bm-one-line-left">QQ</span>
    <span>
        <input type="text" class="editable editable-click no-border text-left"  placeholder="输入QQ" data-ng-model="contactOptions.qq"/>
        <i ng-show="contactOptions.qq!=''" class="fa-times-circle fa pull-right" style="margin-left: 0px;"  data-ng-click="contactOptions.qq=''"></i>
    </span>

</div>

<div class="no-bg bm-item" >
    <span class="bm-one-line-left">微信</span>
    <span>
        <input type="text" class="editable editable-click no-border text-left"  placeholder="输入微信" data-ng-model="contactOptions.wechat"/>
        <i ng-show="contactOptions.wechat !=''" class="fa-times-circle fa pull-right" style="margin-left: 0px;"  data-ng-click="contactOptions.wechat=''"></i>
    </span>

</div>

<div class="no-bg bm-item" >
    <span class="bm-one-line-left">职位</span>
    <span>
        <input type="text" class="editable editable-click no-border text-left"  placeholder="输入职位" data-ng-model="contactOptions.function"/>
        <i ng-show="contactOptions.function!=''" class="fa-times-circle fa pull-right" style="margin-left: 0px;"  data-ng-click="contactOptions.function=''"></i>
    </span>
</div>

<div class="no-bg bm-item" >
    <button class="btn m-b-xs w-xs btn-danger" ng-click="closeThisDialog()" >取消</button>
    <button style=" float: right" ng-class="{'btn m-b-xs w-xs btn-default disabled':contactOptions.name==''|| contactOptions.mobile=='','btn m-b-xs w-xs btn-info':!(contactOptions.name==''|| contactOptions.mobile=='')}" ng-disabled="contactOptions.name==''|| contactOptions.mobile==''" ng-click="confirm('oko')">确定</button>
</div>
</div>