    <div class="settings" style="width: 97%;background-color:white;margin-left: 5px;border-radius: 8px;bottom:70px">
        <a ng-if="modalOptions.actionButtonText!=''" href="{{modalOptions.firstUrl}}"  ng-click="closeThisDialog()">
            <div class="modal-header text-center" style="color:red;">
                {{modalOptions.firstActionText}}
            </div>
        </a>
        <a ng-if="modalOptions.actionButtonText!=''" href="{{modalOptions.secondUrl}}"  ng-click="closeThisDialog()">
            <div class="modal-header text-center" style="color:red;border-bottom: 0px solid #edf1f2;">
                {{modalOptions.secondActionText}}
            </div>
        </a>
    </div>
    <div ng-if="modalOptions.closeButtonText!=''" class="settings" style="width:97%;background-color:white;margin-left:5px;margin-top:5px;border-radius:8px;bottom:10px">
        <a data-ng-click="closeThisDialog('canel')">
            <div class="modal-header text-center" style="color:red;border-bottom: 0px solid #edf1f2;">
                {{modalOptions.closeButtonText}}
            </div>
        </a>
    </div>