<!DOCTYPE html>
<html ng-app="reservationApp">
<head>
    <title>404</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <link href="/born_manager/static/src/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/born_manager/static/src/css/font.css" rel="stylesheet" />
    <link href="/born_manager/static/src/css/app.min.css" rel="stylesheet" />
    <link href="/born_manager/static/src/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/born_manager/static/src/css/styles.css" rel="stylesheet" />
    <link href="/born_manager/static/src/css/simple-line-icons.css" rel="stylesheet" />
    <link href="/born_manager/static/src/css/toaster.min.css" rel="stylesheet" />
</head>
<body>
<div class="app app-header-fixed  ">
  

<div class="container w-xxl w-auto-xs" ng-init="app.settings.container = false;">
  <div class="text-center m-b-lg">
    <h1 class="text-shadow text-white">404</h1>
  </div>

  <div class="text-center" ng-include="'tpl/blocks/page_footer.html'">
    <p>
  <small class="text-muted">上海波恩网络科技服务有限公司 WE-ERP<br>&copy; 2015</small>
</p>
  </div>
</div>


</div>


</body>
</html>
