<!DOCTYPE html>
<html ng-app="managerApp" >
<head>
    <title>${user.name}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" />
    <link href="/born_manager/static/src/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/born_manager/static/src/css/font.css" rel="stylesheet" />
    <link href="/born_manager/static/src/css/app.min.css" rel="stylesheet" />
    <link href="/born_manager/static/src/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/born_manager/static/src/css/styles.css" rel="stylesheet" />
    <link href="/born_manager/static/src/css/simple-line-icons.css" rel="stylesheet" />
    <link href="/born_manager/static/src/css/toaster.min.css" rel="stylesheet" />
    <link href="/born_manager/static/src/css/animations.css" rel="stylesheet" />
    <link href="/born_manager/static/src/css/born-manager.css" rel="stylesheet" />
    <link href="/born_manager/static/src/css/ngDialog.css" rel="stylesheet" />
    <link href="/born_manager/static/src/css/ngDialog-theme-default.css" rel="stylesheet" />
    <link href="/born_manager/static/src/css/ngDialog-theme-plain.css" rel="stylesheet" />
    <link href="/born_manager/static/src/css/angular-datepicker.css" rel="stylesheet" />
    <link href="/born_manager/static/src/css/angular-chart.css" rel="stylesheet" />

</head>
<body ng-cloak style="background-color:white">
    <div ng-controller="NavbarController as vm"  class="h4 app-header navbar" style="min-height: 0px;">
            <!-- navbar header -->
            <div class="navbar-header bm-navbar-header text-center" ng-if="vm.showHeader()=='1'" style="    line-height: 30px;margin-top: 15px;">

                <button ng-if="vm.getSaveModel()=='1'" data-ng-click="vm.save()" class="pull-right visible-xs dk" style="color: #ff4848;padding-bottom: 0px;padding-top: 0px;">
                  保存
                </button>
                <button ng-if="vm.getCreateModel()=='1'" data-ng-click="vm.create()" class="pull-right visible-xs dk" style="color: #ff4848;padding-bottom: 0px;padding-top: 0px;">
                  创建
                </button>
                <button ng-if="vm.getConfirmModel()=='1'" data-ng-click="vm.confirm()" class="pull-right visible-xs dk" style="color: #ff4848;padding-bottom: 0px;padding-top: 0px;">
                  确认
                </button>
                <button ng-if="vm.getSubmitModel()=='1'" data-ng-click="vm.submit()" class="pull-right visible-xs dk" style="color: #ff4848;padding-bottom: 0px;padding-top: 0px;">
                  提交
                </button>
                <button ng-if="vm.getPlaceholder()=='1'" class="pull-right visible-xs dk" style="adding-bottom: 0px;padding-left: 32px;padding-right: 32px;">
                </button>
                <img ng-if="vm.getSearchModel()=='1'"  data-ng-click="vm.headerSearch()" class="pull-right bm-img-back"  src="/born_manager/static/src/img/search.png">
                      {{vm.title | limitTo:6}}{{vm.title.length > 6 ? '...' : ''}}
                <img ng-if="vm.getBackModel()=='1'" style="padding-top: 3px;padding-bottom: 3px;height: 29px;" data-ng-click="vm.headerBack()" class=" pull-left no-border bm-img-back"  src="/born_manager/static/src/img/back.png">
                <button ng-if="vm.getCancelModel()=='1'" data-ng-click="vm.headerBack()" class="pull-left visible-xs dk" style="color: #ff4848;padding-bottom: 0px;padding-top: 0px;">
                  取消
                </button>
            </div>

            <!-- / navbar header -->
    </div>


    <!-- content -->
    <div class="app-content ng-scope m-n" style="background-color:white">
        <div class="app-content-body fade-in-up ng-scope"  style="padding-bottom: 0px;" >
            <div ng-view style="position:relative;" id="ng-view" ></div>
            <toaster-container toaster-options="{'position-class': 'toast-top-center', 'close-button':false}"></toaster-container>
        </div>
    </div>
    <div class="app-footer navbar navbar-fixed-bottom  ng-scope m-n" ui-view="footer"  ng-controller="NavbarController as vm" ng-if="vm.displayBottom()=='1'" >
        <div class="row ng-scope" >
            <nav>
                 <div class="footermenu" data-collapse="isCollapsed" >
                     <ul ng-if="vm.showBottom()=='1'"  highlight-class-name="active" style="background-color:white;" >
                         <li style="width: 33%" >
                            <a ng-if="vm.clicked!='menu'" href="#/salepanel" ng-click="vm.clicked = 'menu'"><img style="width:26px;height:25px" src="/born_manager/static/src/img/bottom/menu-b.png"><p>首页</p></a>
                            <a ng-if="vm.clicked=='menu'" href="#/salepanel" ng-click="vm.clicked = 'menu'" style="color:#ff4848"><img style="width:26px;height:25px" src="/born_manager/static/src/img/bottom/menu-b-d.png"><p>首页</p></a>
                         </li>
                         <li style="width: 33%" >
                            <a ng-if="vm.clicked!='license'" ng-click="vm.clicked = 'license'" href="#/licenses/0"><img style="width:26px;height:25px" src="/born_manager/static/src/img/bottom/licenses-b.png"><p>设备管理</p></a>
                            <a ng-if="vm.clicked=='license'" ng-click="vm.clicked = 'license'" href="#/licenses/0" style="color:#ff4848"><img style="width:26px;height:25px" src="/born_manager/static/src/img/bottom/licenses-b-d.png"><p>设备管理</p></a>
                         </li>
                         <li style="width: 33%" >
                            <a ng-if="vm.clicked!='company'" ng-click="vm.clicked = 'company'" href="#/companys" ><img style="width:26px;height:25px" src="/born_manager/static/src/img/bottom/company-b.png"><p>公司管理</p></a>
                            <a ng-if="vm.clicked=='company'" ng-click="vm.clicked = 'company'" href="#/companys"  style="color:#ff4848"><img style="width:26px;height:25px" src="/born_manager/static/src/img/bottom/company-b-d.png"><p>公司管理</p></a>
                         </li>
                     </ul>
                     <ul  ng-if="vm.showBottom()=='2'" highlight-class-name="active" style="background-color:white" >
                         <li style="width: 25%" >
                            <a ng-if="vm.clicked!='menu'" href="#/salepanel" ng-click="vm.clicked = 'menu'"><img style="width:26px;height:25px" src="/born_manager/static/src/img/bottom/menu-b.png"><p>首页</p></a>
                            <a ng-if="vm.clicked=='menu'" href="#/salepanel" ng-click="vm.clicked = 'menu'" style="color:#ff4848"><img style="width:26px;height:25px" src="/born_manager/static/src/img/bottom/menu-b-d.png"><p>首页</p></a>
                         </li>
                         <li style="width: 25%" >
                            <a ng-if="vm.clicked!='license'" ng-click="vm.clicked = 'license'" href="#/licenses/0"><img style="width:26px;height:25px" src="/born_manager/static/src/img/bottom/licenses-b.png"><p>设备管理</p></a>
                            <a ng-if="vm.clicked=='license'" ng-click="vm.clicked = 'license'" href="#/licenses/0" style="color:#ff4848"><img style="width:26px;height:25px" src="/born_manager/static/src/img/bottom/licenses-b-d.png"><p>设备管理</p></a>
                         </li>
                         <li style="width: 25%" >
                            <a ng-if="vm.clicked!='company'" ng-click="vm.clicked = 'company'" href="#/companys" ><img style="width:26px;height:25px" src="/born_manager/static/src/img/bottom/company-b.png"><p>公司管理</p></a>
                            <a ng-if="vm.clicked=='company'" ng-click="vm.clicked = 'company'" href="#/companys"  style="color:#ff4848"><img style="width:26px;height:25px" src="/born_manager/static/src/img/bottom/company-b-d.png"><p>公司管理</p></a>
                         </li>
                         <li style="width: 25%" >
                            <a ng-if="vm.clicked!='report'" ng-click="vm.clicked = 'report'" href="#/salepanel" ><img style="width:26px;height:25px" src="/born_manager/static/src/img/bottom/report-b.png"><p>统计报表</p></a>
                            <a ng-if="vm.clicked=='report'" ng-click="vm.clicked = 'report'" href="#/salepanel"  style="color:#ff4848"><img style="width:26px;height:25px" src="/born_manager/static/src/img/bottom/report-b-d.png"><p>统计报表</p></a>
                         </li>
                     </ul>
                 </div>
             </nav>
        </div>
    </div>
    <div wc-overlay wc-overlay-delay="30">
        <i class="fa fa-spin fa-refresh fa-2x"></i>
    </div>
<!--
    <div class="app-content ng-scope m-n" style="background-color:white">
        <div class="fade-in-up ng-scope" style="padding-bottom: 0px;"  >
            <div ng-view style="position:relative;" id="ng-view" ></div>
            <toaster-container toaster-options="{'position-class': 'toast-top-center', 'close-button':false}"></toaster-container>
        </div>
    </div>
    -->

<!--
    <div wc-overlay wc-overlay-delay="30">
        <i class="fa fa-spin fa-refresh fa-2x"></i>
    </div>

    -->

    <script src="/born_manager/static/src/js/jquery.js"></script>
    <script src="/born_manager/static/src/js/angular.min.1.46.js"></script>
    <script src="/born_manager/static/src/js/angular-file-upload.js"></script>
    <script src="/born_manager/static/src/js/angular-locale_zh.js"></script>
    <script src="/born_manager/static/src/js/ngDialog.js"></script>

    <script src="/born_manager/static/src/js/angular-route1.46.min.js"></script>
    <script src="/born_manager/static/src/js/angular-animate1.46.min.js"></script>
    <script src="/born_manager/static/src/js/ui-bootstrap-tpls-0.14.3.js"></script>
    <!--<script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>-->
    <script src="/born_manager/static/src/js/tweenMax.min.js"></script>
    <script src="/born_manager/static/src/js/breeze.min.js"></script>
    <script src="/born_manager/static/src/js/breeze.angular.js"></script>
    <script src="/born_manager/static/src/js/sanitize.js"></script>
    <script src="/born_manager/static/src/js/angular-touch.js"></script>
    <script src="/born_manager/static/src/js/angular-moment.min.js"></script>
    <script src="/born_manager/static/src/js/angular-datepicker.js"></script>
    <script src="/born_manager/static/src/js/Chart.min.js"></script>
    <script src="/born_manager/static/src/js/angular-chart.js"></script>

    <script src="/born_manager/static/src/js/ng-infinite-scroll.min.js"></script>


    <script src="/born_manager/static/defaultApp/wc.directives/directives/wcOverlay.js"></script>
    <script src="/born_manager/static/defaultApp/wc.directives/directives/menuHighlighter.js"></script>
    <script src="/born_manager/static/defaultApp/app.js"></script>
    <script src="/born_manager/static/defaultApp/animations/listAnimations.js"></script>
    <script src="/born_manager/static/defaultApp/directives/wcUnique.js"></script>
    <script src="/born_manager/static/defaultApp/services/config.js"></script>
    <script src="/born_manager/static/defaultApp/services/authService.js"></script>
    <script src="/born_manager/static/defaultApp/services/httpInterceptors.js"></script>
    <script src="/born_manager/static/defaultApp/services/dataService.js"></script>
    <script src="/born_manager/static/defaultApp/services/modalService.js"></script>
    <script src="/born_manager/static/defaultApp/services/shopService.js"></script>

    <script src="/born_manager/static/defaultApp/controllers/messages/messageController.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/setting/settingController.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/panel/panelController.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/companys/companysController.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/companys/companyControllerUpdated.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/companys/companyControllerNotUpdated.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/companys/shopController.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/companys/licenseDetailController.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/companys/licenseController.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/companys/userController.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/panel/cashController.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/menu/menuController.js"></script>

    <script src="/born_manager/static/defaultApp/controllers/salecontrole/salepanelcontroller.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/salecontrole/tracklistcontroller.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/salecontrole/teamshopcontroller.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/salecontrole/assignmentscontroller.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/salecontrole/assignbusinesscontroller.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/salecontrole/assignshopcontroller.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/salecontrole/approvalcontroller.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/salecontrole/allsalerscontroller.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/salecontrole/salerdetailcontroller.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/salecontrole/shopdetailcontroller.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/salecontrole/salershopcontroller.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/salecontrole/allchangecontroller.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/salecontrole/changeshopsalercontroller.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/salecontrole/createMissioncontroller.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/salecontrole/selectSalercontroller.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/salecontrole/createSuccesscontroller.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/salecontrole/rankingcontroller.js"></script>


    <script src="/born_manager/static/defaultApp/controllers/report/reporttestcontroller.js"></script>


    <script src="/born_manager/static/defaultApp/controllers/partners/partnerController.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/partners/partnerDetailController.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/partners/contactController.js"></script>


    <script src="/born_manager/static/defaultApp/controllers/saler/salerController.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/saler/salerPartnerController.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/saler/salerCompanyController.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/saler/editPartnerController.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/saler/optionsController.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/saler/finishMissionController.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/saler/resultsOptionController.js"></script>
    <script src="/born_manager/static/defaultApp/controllers/saler/showFinishedMissionController.js"></script>



    <script src="/born_manager/static/defaultApp/controllers/navbarController.js"></script>

    <script src="/born_manager/static/src/js/toaster.min.js"></script>
    <script src="/born_manager/static/defaultApp/wc.directives/directives/fileModel.js"></script>

</body>
</html>