 <div class="show-hide-animation"  style="margin-bottom: 0px;padding-bottom: 0px;">
    <div id="infinite" infinite-scroll='vm.getPartners()' infinite-scroll-parent="true"
                    infinite-scroll-distance='1' infinite-scroll-disabled='vm.busy' >
        <div class="panel b-a" style="margin-bottom: 0px;">


            <div style="margin-bottom:0;border:0">
                <div class="hbox text-center b-t b-b b-light text-sm">
                    <a href="#/partners/all" class="col padder-v text-muted b-r b-light">
                        <div>全部商家</div>
                        <div class="h3 text-info font-thin">{{ vm.counts.partner_count }}</div>
                    </a>
                    <a href="#/partners/installed" class="col padder-v text-muted">
                        <span>已成功使用</span>
                        <div class="h3 text-info font-thin">{{ vm.counts.installed_count }}</div>
                    </a>
                </div>

                <div class="hbox text-center  b-b  b-light text-sm">
                    <a href="#/partners/tovisit" class="col padder-v text-muted b-r b-light">
                        <span>待拜访商家</span>
                        <div class="h3 text-info font-thin">{{ vm.counts.tovisit_count }}</div>
                    </a>
                    <a href="#/partners/visiting" class="col padder-v text-muted">
                        <span>拜访中商家</span>
                        <div class="h3 text-info font-thin">{{ vm.counts.visiting_count }}</div>
                    </a>
                </div>
            </div>
            <div class="panel-heading" style="background:rgb(240, 243, 244)">

            </div>


            <ul class="list-group">

                <li ng-repeat="partner in vm.partners" class="list-group-item" ng-style="{'background-color':partner.bgcolor}">
                    <a ng-href="{{partner.href}}" >
                        <div class="media-body" >
                            <div ng-class="{'text-black' : partner.my_customer =='yes'}">
                                <span>{{ partner.name | limitTo: 10}}{{partner.name.length > 10 ? '...' : ''}}

                                    <span ng-if="partner.state == 'tovisit'" class="pull-right label" style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);color: #fb7c79;background-color: #FFFFFF;border: 1px solid #fb7c79;">待拜访</span>
                                    <span ng-if="partner.state == 'lost'" class="pull-right label" style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);color: #fb7c79;background-color: #FFFFFF;border: 1px solid #fb7c79;">已丢失</span>
                                    <span ng-if="partner.state == 'installed'" class="pull-right label" style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);color: #10abfa;background-color: #FFFFFF;border: 1px solid #10abfa;">已安装</span>
                                    <span ng-if="partner.state == 'visiting'" class="pull-right label" style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);color: #10abfa;background-color: #FFFFFF;border: 1px solid #10abfa;">拜访中</span>
                                    <span class="pull-right label" style="text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);color: #10abfa;background-color: #FFFFFF;border: 1px solid #10abfa;margin-right: 5px;">拜访 {{partner.track_count}}</span>

                                </span>
                            </div>

                            <div ng-class="{'text-black' : partner.my_customer =='yes'}">
                                <small>联系电话：
                                    <span ng-show="partner.phone">{{partner.phone}}</span>
                                    <span ng-if="partner.phone=='' && partner.mobile">{{partner.mobile}}</span>
                                </small>
                            </div>

                            <div>
                                <i class="fa fa-map-marker" style="padding-right: 5px;"></i>
                                <small style="color:#999;">地址：{{partner.address}}</small>
                            </div>

                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>


</div>
<div style="height:126px; padding-bottom: 126px; line-height: 126px;"  ng-show="true" class="text-center" >正在加载...</div>

<div  class="settings" style="width:100%;background-color:#f0f3f4;bottom: 0px;">
    <p style="width:80%;margin:0 auto;padding-top: 10px;padding-bottom: 10px;">
        <a  href="#/partners/newpartner" class="btn btn-info btn-lg btn-block" ><i class="icon-plus" style="padding-right:10px "></i>新建商户</a>
      </p>
</div>
