<div>
    <!--Head-->
    <div class="bm-head">
        <div class="bm-head-top">
            <span ng-if="vm.role == '7'" class="bm-head-top-icon-left"><img class="bm-head-top-img" src="/born_manager/static/src/img/saler/add.png" data-ng-click="vm.createMissionOrPatner()"></span>
            <span ng-if="vm.role == '8'" class="bm-head-top-icon-left"><img  style="width:12px;height:23px" src="/born_manager/static/src/img/salermanager/backwhite.png" data-ng-click="vm.goBack()"></span>
            <span class="pull-right">
                <span class="bm-head-top-icon"><a href="#/ranking"><img class="bm-head-top-img" src="/born_manager/static/src/img/saler/rank.png"></a></span>
                <span class="bm-head-top-icon" ng-if="vm.initData.push_state=='draft' && vm.role == '7'"><a href="#/messagesTime"><img class="bm-head-top-img" src="/born_manager/static/src/img/saler/have-message.png"></a></span>
                <span class="bm-head-top-icon" ng-if="vm.initData.push_state=='done' && vm.role == '7'"><a href="#/messagesTime"><img class="bm-head-top-img" src="/born_manager/static/src/img/saler/message.png"></a></span>
                <span class="bm-head-top-icon"><img class="bm-head-top-img" data-ng-click="vm.searsh()" src="/born_manager/static/src/img/saler/search.png"></span>
            </span>
        </div>

        <div class="bm-head-down">
            <div class="pull-left">
                <a ng-if="vm.role == '7'" href="#/settings">
                    <img ng-if="vm.initData.image != ''" class="bm-photo-round img" style="border-radius: 500px;" ng-src="data:image/png;base64,{{vm.initData.image}}">
                    <img ng-if="vm.initData.image == ''" class="bm-photo-round img" ng-src="/born_manager/static/src/img/defaultlogo.png">
                </a>
                <a ng-if="vm.role == '8'">
                    <img ng-if="vm.initData.image != ''" class="bm-photo-round img" style="border-radius: 500px;" ng-src="data:image/png;base64,{{vm.initData.image}}">
                    <img ng-if="vm.initData.image == ''" class="bm-photo-round img" ng-src="/born_manager/static/src/img/defaultlogo.png">
                </a>
            </div>

            <div class="pull-right">
                <div class="pull-right bm-head-right-part">
                    <div class="bm-head-int">{{vm.initData.partner_number}}</div>
                    <div class="bm-head-font">负责的</div>
                    <div class="bm-head-font">商户</div>
                </div>
                <div class="pull-right bm-head-right-part">
                    <div class="bm-head-int">{{vm.initData.mission_number}}</div>
                    <div class="bm-head-font">待处理</div>
                    <div class="bm-head-font">任务</div>
                </div>
            </div>
        </div>
    </div>

    <!--Navbar-->
    <div class="no-border text-center bm-mid-nav">
    	<div>
        	<button ng-class="{'missions': 'bm-active'}[vm.display]" ng-click="vm.setDisplay('missions')" class="bg-white no-border bm-top-btn-three">任务</button>
        	<button ng-class="{'partners': 'bm-active'}[vm.display]" ng-click="vm.setDisplay('partners')" class="bg-white no-border bm-top-btn-three">商户</button>
        	<button ng-class="{'companys': 'bm-active'}[vm.display]" ng-click="vm.setDisplay('companys')" class="bg-white no-border bm-top-btn-three">公司</button>
    	</div>
	</div>

    <!--任务-->
    <div ng-if="vm.display=='missions'">
        <div  id="infinite1" infinite-scroll='vm.getMissions("notOk")' infinite-scroll-parent="true" infinite-scroll-distance='1' infinite-scroll-disabled='vm.busy' >
            <div ng-repeat="missionsUnfinished in vm.missionsUnfinished" class="bm-main-three-line-wrapper">
                <a ng-click="vm.changeMissionState(missionsUnfinished)">
                    <div class="bm-main-three-line">
                        <div class="bm-main-three-line-title">
                            <!--状态图标-->
                            <span ng-if="missionsUnfinished.mission_state=='pause'" class="bm-main-three-line-title-tag"><i class="glyphicon glyphicon-pause"></i></span>
                            <span ng-if="missionsUnfinished.mission_state=='start'" class="bm-main-three-line-title-tag"><i class="glyphicon glyphicon-play"></i></span>
                            <span ng-if="missionsUnfinished.mission_state=='finished'" class="bm-main-three-line-title-tag"><i class="fa fa-check"></i></span>
                            <span ng-if="missionsUnfinished.mission_state=='notstart'" style="visibility:hidden" class="bm-main-three-line-title-tag-grey"><i class="fa fa-check"></i></span>

                            <span class="bm-main-three-line-title-font">{{missionsUnfinished.mission_name}}</span>
                            <span ng-if="vm.role == '7'" class="pull-right"><img class=" bm-img-three-points"  src="/born_manager/static/src/img/three-points.png"></span>
                        </div>

                        <div class="bm-main-three-line-detail">
                            <span class="bm-main-three-line-span-left"><img class="bm-main-three-line-img" src="/born_manager/static/src/img/saler/phone.png">{{missionsUnfinished.mission_contacts_phone}}</span>
                            <span class="bm-main-three-line-span-middle"><img class="bm-main-three-line-img" src="/born_manager/static/src/img/saler/bounds.png">{{missionsUnfinished.mission_contacts_name}}</span>
                            <span class="bm-main-three-line-span-right"><img class="bm-main-three-line-img" src="/born_manager/static/src/img/saler/time.png">{{missionsUnfinished.mission_date}}</span>
                        </div>

                        <div class="bm-main-three-line-detail">
                            <span class="bm-main-three-line-span">
                                <img class="bm-main-three-line-img" src="/born_manager/static/src/img/saler/location-copy.png">{{missionsUnfinished.mission_address}}
                            </span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div ng-show="vm.showButton" class="bm-btn-add-more-wrapper">
            <button class="bm-btn-add-more" ng-click="vm.clickMore()"><span class="bm-btn-add-more-text">{{vm.missions_finished_numbers}}个已完成任务</span></button>
        </div>
        <div >
            <div ng-if="vm.showFinishedmissions" id="infinite2" infinite-scroll='vm.getMissions("ok")' infinite-scroll-parent="true" infinite-scroll-distance='1' infinite-scroll-disabled='vm.busy' >
                <div ng-repeat="missionsFinished in vm.missionsFinished" class="bm-main-three-line-wrapper">
                    <a ng-click="vm.jumpWithCache(missionsFinished.mission_id)">
                    <div class="bm-main-three-line">
                        <div class="bm-main-three-line-title">
                            <!--状态图标-->
                            <span  class="bm-main-three-line-title-tag-grey"><i class="fa fa-check"></i></span>
                            <span class="bm-main-three-line-title-font-grey">{{missionsFinished.mission_name}}</span>
                        </div>

                        <div class="bm-main-three-line-detail">
                            <span class="bm-main-three-line-span-grey"><img class="bm-main-three-line-img" src="/born_manager/static/src/img/saler/phone.png">{{missionsFinished.mission_contacts_phone}}</span>
                            <span class="bm-main-three-line-span-grey"><img class="bm-main-three-line-img" src="/born_manager/static/src/img/saler/bounds.png">{{missionsFinished.mission_contacts_name}}</span>
                        </div>

                        <div class="bm-main-three-line-detail">
                            <span class="bm-main-three-line-span-grey">
                                <img class="bm-main-three-line-img" src="/born_manager/static/src/img/saler/location-copy.png">{{missionsFinished.mission_address}}
                            </span>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <!--商户-->
    <div>
        <div  ng-if="vm.display=='partners'" id="infinite3" infinite-scroll='vm.getPartners()' infinite-scroll-parent="true" infinite-scroll-distance='1' infinite-scroll-disabled='vm.busy' >

            <a ng-href="#saler/partner/{{partner.partner_id}}" ng-repeat="partner in vm.partners">
            <div  class="no-bg bm-item">
                <span class="bm-main-three-line-title-font">{{partner.partner_name}}</span>
                <span class="pull-right bm-main-two-line-title-right-font-grey">共{{partner.missions_count}}任务<i class=" fa fa-fw fa-angle-right text"></i></span>
            </div>
            </a>
        </div>

    </div>

    <!--公司-->
    <div>
        <div ng-if="vm.display=='companys'" id="infinite4" infinite-scroll='vm.getCompanys()' infinite-scroll-parent="true" infinite-scroll-distance='1' infinite-scroll-disabled='vm.busy' >
            <a ng-click="vm.jumpToCompany(company.company_id)" ng-repeat="company in vm.companys">
                <div  class="no-bg bm-item">
                    <div>
                        <span class="bm-main-three-line-title-font">{{company.company_name | limitTo:10}} {{company.company_name.length > 10 ? '...' : ''}}</span>
                        <span class="pull-right bm-main-three-line-title-font-grey">{{company.use_days}}天<i class=" fa fa-fw fa-angle-right text"></i></span>
                    </div>
                    <div>
                        <span class="bm-main-two-line-span-img"><img class="bm-main-three-line-img" src="/born_manager/static/src/img/saler/ticket.png"></span>
                        <span class="bm-main-two-line-span">共{{company.total_operate_number}}单.</span>
                        <span class="bm-main-two-line-span">今日{{company.today_operate_number}}单.</span>
                        <span class="bm-main-two-line-span">日均{{company.daily_average}}单.</span>
                    </div>
                </div>
            </a>
        </div>
    </div>

</div>
<div ng-show="vm.busy" class="text-center bm-loading" >正在加载...</div>