.bm-item{
    background-color:white;
    border-bottom: solid 1px #f6f6f5;
    /*padding-left: 35px;*/
    /*padding-right: 35px;*/
    margin-left:35px;
    margin-right:35px;
    padding-bottom:12px;
    padding-top:20px;
}
.bm-main{
    padding-top:5px;
    font-size:17px;
    color:#4a4a4a;
    /*height:22px;*/
}
.bm-top{
    font-size:12px;
    color:#A0A0A0;
}
/*start nisen*/

.bm-button {
    width: 100%;
    /*height:55px;*/
}
.bm-navbar-header {
    background-color:white;
    text-align:center;
    border-bottom: solid 1px #f6f6f5;
}
.bm-i-clock {
    margin-right: 10px;
}

.bm-wrapper{
    background-color: #F2F2F2;

}

.bm-two-col-left {
    border: solid 1px #cacac9;

}
.bm-two-col-right {
    /*border-left: solid 0.5px #cacac9;*/
    border-top: solid 1px #cacac9;
    border-right: solid 1px #cacac9;
    border-bottom: solid 1px #cacac9;
}


.bm-three-col-left {
    border: solid 1px #cacac9;
}
.bm-three-col-middle {
    border-top: solid 1px #cacac9;
    border-right: solid 1px #cacac9;
    border-bottom: solid 1px #cacac9;
}
.bm-three-col-right {
    border-top: solid 1px #cacac9;
    border-right: solid 1px #cacac9;
    border-bottom: solid 1px #cacac9;
}

.bm-two-col-up-font-default {
    font-size: 60px;
    color: rgba(0, 0, 0, 0.74);
}
.bm-two-col-up-font-hightlight {
    font-size: 60px;
    color: rgba(255, 0, 0, 0.74);
}

.bm-three-col-up-font {
    font-size: 40px;
    color: rgba(0, 0, 0, 0.74);
}



.bm-timeline {
    margin-left: 35%;
    border-width: 0 0 0 2px;
    border-color: #b2b1af;

}
.bt-timeline-left{
    width:8em;
    text-align: left;
    margin-left: -12em;
    font-size: 10px;
}
.bm-timeline-right{
    margin-left:20px;
}
.bm-icon {
    width:25px;
}

#triangle-up1 {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid rgba(255, 0, 0, 0.74);
    margin-left: 25%;
    margin-top: -11px;

}
#triangle-up2 {
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid rgba(255, 0, 0, 0.74);
    margin-left: 75%;
    margin-top: -11px;

}



.bm-top-btn-two{
    border-bottom:solid 1px #ffffff;
    width: 30%;
    padding: 6px 0px;
    margin-left:22px;
    margin-right:22px;
    font-size:12px;
    color:#A0A0A0;
}

.bm-head{
    background: -moz-linear-gradient(left top, #FFA69A 0%, #FC3768 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#FFA69A), color-stop(100%,#FC3768));
    background: -webkit-linear-gradient(left top, #FFA69A 0%,#FC3768 100%);
    background: -o-linear-gradient(left top, #FFA69A 0%,#FC3768 100%);
    background: -ms-linear-gradient(left top, #FFA69A 0%,#FC3768 100%);
    background: linear-gradient(to right bottom, #FFA69A 0%,#FC3768 100%);
    padding-left: 15px;
    padding-right: 15px;
    height: 200px;
}

.bm-head-top {
    padding-top:20px

}

.bm-head-down {
    padding-top:20px
}


.bm-head-top-icon {
    margin-left: 8px;
    margin-right: 8px;
    /*color: rgba(246, 246, 246, 0.53);*/
}
.bm-head-top-icon-left {
    color:rgba(246, 246, 246, 0.53);
}


.bm-head-top-img {
    width:17px;
    height:17px;
}



.bm-photo-round {
    width:95px;
    height:95px;
    text-align:center;
    margin-left:10px;
}

.bm-head-int{
    color:white;
    font-size: 40px;
    text-align: right;
}
.bm-head-font{
    color:rgba(246, 246, 246, 0.53);
    font-size: 10px;
    /*width:40px;*/
    text-align: right;
}
.bm-head-right-part {
    margin-left:10px;
    margin-right:10px;
}

.bm-top-btn-three{
    border-bottom:solid 1px #ffffff;
    width: 15%;
    padding: 6px 0px;
    margin-left:22px;
    margin-right:22px;
    font-size:13px;
    color:#A0A0A0;
}

.bm-mid-nav {
    padding-top:6px;
    margin-bottom: 0px;
    background-color: #FFFFFF;
    border-bottom: solid 1px #f0f0f0;
}

.bm-main-three-line-wrapper {
    padding-left:25px;
    padding-right:25px;

    background-color: white;
}



.bm-main-three-line{
    padding-left: 20px;
    /*padding-right: 35px;*/
    padding-top:20px;
    padding-bottom:20px;

    background-color: white;
    border-bottom:solid 1px rgba(204, 204, 203, 0.54);
}
.bm-main-three-line-title{


}
.bm-main-three-line-detail{
    margin-top:8px;
    margin-bottom:8px;
}



.bm-main-three-line-img{
    width:25px;
    /*margin-right:5px;*/

}
/*.bm-main-three-line-tag-img{*/
    /*/!*width:8px;*!/*/
    /*height:12px;*/
    /*margin-right:5px;*/
    /*margin-bottom: 4px;*/
    /*color:green;*/

/*}*/
.bm-main-three-line-span {
    width:30%;
    padding-right:10px;
    font-size: 11px;
}
.bm-main-three-line-title-tag {
    margin-left: -19px;
    color:red;
    margin-right:5px;
}
.bm-main-three-line-title-font {
    font-size:16px;
    color:black;
}
.bm-btn-add-more-wrapper {
    text-align: center;
    background-color: white;
    padding-top:25px;
    padding-bottom:25px;
}
.bm-btn-add-more {
    background-color: #A1A1A1;
    color: rgba(236, 236, 236, 0.57);
    width: 140px;
    padding-top:4px;
    padding-bottom:4px;
}

.bm-main-three-line-title-font-grey {
    font-size:16px;
    color:rgba(163, 163, 163, 0.62);

}
.bm-main-two-line-title-right-font-grey {
    font-size:12px;
    color:rgba(163, 163, 163, 0.62);

}
.bm-main-three-line-span-grey{
    width:33%;
    padding-right:10px;
    color: rgba(163, 163, 163, 0.62);
    font-size:11px
}
.bm-main-three-line-title-tag-grey {
    margin-left: -19px;
    margin-right:5px;
    color: rgba(221, 0, 0, 0.62)
}

.bm-one-line-left{
    display:inline-block;
    color: #aeaeae;
    width:20%;
}


.bm-nav-head-two{
    border-bottom:solid 1px #ffffff;
    width: 20%;
    padding: 6px 0px;
    margin-left:22px;
    margin-right:22px;
    font-size:12px;
    color:#A0A0A0;
}

.bm-edit {
    position:fixed;
    bottom:10px;
    right:10px;
}

.bt-edit-img{
    width:50px;
}
.bm-loading{
    height:60px;
    line-height: 60px;
    background-color: white;
}
.bm-textarea-wrapper{
    padding-left:35px;
    padding-right:35px;
    padding-top:20px;
    padding-bottom:20px;
    background-color: white;
}
.bm-textarea {
    border:0;
    width:100%
}

/*end nisen*/


/*liuhao*/
.bm-font{
    font-size:12px;
    color:#4a4a4a;
}
.bm-left-font{
    font-size:17px;
    color:#A0A0A0;
}
.bm-right-font{
    font-size:17px;
    color:#4a4a4a;
    padding-left:24px;
    width: 160px;
}
.bm-img-back{
    padding-right: 42px;
    padding-left: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
    width: 65px;
    height: 49px;
}
.bm-top-btn{
    border-bottom:solid 1px #ffffff;
    width: 60px;
    padding: 6px 0px;
    margin-left:22px;
    margin-right:22px;
    font-size:12px;
    color:#A0A0A0;
}

.bm-active{
    color: #ff4848;
    border-bottom:solid 2px #ff4848;
}
.bm-light{
    background-color:#f2f2f2;
    color: #4a4a4a;
    font-size:20px;
}
.bm-btn-big{
    color: rgba(0, 0, 0, 0.74);
}
.bm-btn-big:hover, .bm-btn-big:focus, .bm-btn-big.focus{
    color: #ff4848;
}
.bm-b-b{
    border-bottom: 1px solid #e0e0e0;
}
.bm-b-t{
    border-top: 1px solid #e0e0e0;
}
.bm-b-r{
    border-right: 1px solid #e0e0e0;
}
.bm-b-l{
    border-left: 1px solid #e0e0e0;
}
.bm-b-light{
    border-color: #e0e0e0;
}
.bm-head-img {
    width:95px;
    height:95px;
    text-align:center;
    margin-left:10px;
}
.bm-head-right-col {
    margin-left:10px;
    margin-right:10px;
}
.bm-head-right-num{
    color: white;
    font-size: 40px;
    text-align: right;
}
.bm-img-s-l{
    width: 30px;
    border-radius: 20px;
    margin-left: -30px;
}
.bm-b-all{
    color: red;
    background-color: #FFFFFE;
    border: 1px solid #ff4848;
    border-radius:10px;
    font-size:12px;
    margin-left:5px;
    padding: 5px;
    margin-top:5px;
}
.bm-search-wrapper{
    background-color:white;
    padding-top:20px;
    padding-bottom: 35px;
    position: relative;
}
.bm-search-col{
    background-color:#e0e0e0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    margin-left: 5px;
    width: 80%;
    border-radius: 5px;
}
.bm-search-input{
    background-color:#e0e0e0;
    width: 80%;
    padding-left:5px;
    padding-right:5px
}
.bm-search-btn{
    background-color: white;
    color: #ff4848;
    padding-top: 5px;
    padding-right: 10px;
}
.opacity{
    -webkit-filter:opacity(.2);
}
.bm-move{
    margin-top: 56px;
}
/*liuhao end*/
