@charset "utf-8";

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0;
}

.card-box{width:100px;border-top:solid 1px #dedede;border-left:solid 1px #dedede;border-right:solid 1px #dedede;border-bottom:solid 1px #dedede;height:25px;}
.card-box .btn {padding:2px 12px;;border:0px;box-shadow: 0 0px 0px rgba(90, 90, 90, 0.1);}
.card-box .qty {height:25px;text-align: center;display: block;border:0px;border-left:solid 1px #dedede;border-right:solid 1px #dedede;}

.list-group-item:hover, li.list-group-item:focus, li.list-group-item.hover {background-color: #f6f8f8;}
.footermenu {position: fixed;bottom: 0;left: 0;right: 0;z-index: 900;}
.footermenu ul {
	position: fixed;
	z-index: 900;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: block;
	width: 100%;
	background: #f0f0f0;
	height: 50px;
	display: -webkit-box;
	display: box;
	-webkit-box-orient: horizontal;
	padding-top: 5px;
	border-top: solid 0.5px #c0c0c0;
}
.footermenu ul li a img {
	width: 24px;
}
.footermenu ul li {
	float: left;
	width: 25%;
	height: 100%;
	position: static!important;
	margin: 0;
	border-radius: 0!important;
	box-sizing: border-box;
	background: none;
	list-style: none;
}
.footermenu ul li a {
	position: relative;
	height: 50px;
	color: #999;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	display: block;
	text-decoration: none;
	padding-top: 2px;
	position: relative;

}
.footermenu ul li.active a {
	border-bottom: 0;
	color:#10abfa;
}
.footermenu ul li a p {
	width: 100%;
	margin: 0px 0 0 0;
	display: block !important;
	line-height: 18px;
	text-align: center;
	font-size: 10px;
}

.footermenu ul li a .num {
	font-size: 10px;
	position: absolute;
	z-index: 9;
	left: 55%;
	top: -5px;
	background-color: #eb3634;
	color: #fff;
	font-family: Verdana;
	font-weight: normal;
	line-height: 10px;
	padding: 2px 4px;
	box-shadow: 0 0 0 1px #FFFFFF, 0 1px 5px 3px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
}

.c_order {
display: block;
position: fixed;
width: 100%;
z-index: 99;
bottom: 47px;


height:46px;
}

.checkout{
padding: 3px 0;
color: #FFFFFF;
cursor: pointer;
background: #5cb85c;
line-height: 32px;
height:46px;
text-align: center; 
font-size: 16px; 
overflow: hidden;
}

.date_acitve{
	color:#10abfa;
	border-bottom: solid 2px #10abfa ;
}

.date_normal{
	color:#000;
	border-bottom: solid 1px #dedede ;
}

.overlayContainer { display: none;}
.overlayBackground { top:0px; left:0px; position:absolute; z-index:1000;height: 50px;width: 50px;opacity:0.1;}
.overlayContent { position:absolute; line-height:60px; border-radius: 30px;  background:#dedede; opacity:0.3; height: 50px;width: 50px;z-index:1000;text-align:center;}


.bg-new-info{
	background-color: #10abfa;
	color:#ffffff;
}


.bg-new-default{
	background-color: #eeeeee;
}

.tbtn {
  font-weight: 500;
  border-radius: 2px;
  outline: 0!important;
  color: #58666e !important;
  background-color: #fcfdfd;
  background-color: #fff;
  border-color: #dee5e7;
  border-bottom-color: #d8e1e3;
  -webkit-box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
          box-shadow: 0 1px 1px rgba(90, 90, 90, 0.1);
}

.tbtn:hover,
.tbtn:focus,
.tbtn:active,
.tbtn.active,
 {
  color: #58666e !important;
  background-color: #edf1f2;
  border-color: #c7d3d6;
}

.tbtn:active,
.tbtn.active,
 {
  background-image: none;
}




/* ANIMATIONS
============================================================================= */
.page	{}

.page.ng-leave 	{ z-index:9999; }
.page.ng-enter 	{ z-index:8888; }

/* page specific animations ------------------------ */

/* home -------------------------- */
.page-home.ng-leave         {
    -webkit-transform-origin: 0% 0%;
	-webkit-animation: rotateFall 1s both ease-in;
	-moz-transform-origin: 0% 0%;
	-moz-animation: rotateFall 1s both ease-in;
	transform-origin: 0% 0%;
	animation: rotateFall 1s both ease-in;
}
.page-home.ng-enter 		{
    -webkit-animation:scaleUp 0.5s both ease-in;
	-moz-animation:scaleUp 0.5s both ease-in;
	animation:scaleUp 0.5s both ease-in;
}

/* about ------------------------ */
.page-about.ng-leave        {
    -webkit-animation:slideOutLeft 0.5s both ease-in;
	-moz-animation:slideOutLeft 0.5s both ease-in;
	animation:slideOutLeft 0.5s both ease-in;
	z-index:9999;
}
.page-about.ng-enter 		{
    -webkit-animation:slideInRight 0.5s both ease-in;
	-moz-animation:slideInRight 0.5s both ease-in;
	animation:slideInRight 0.5s both ease-in;
	z-index:8888;
}

/* contact ---------------------- */
.page-contact.ng-leave      {
    -webkit-transform-origin: 50% 50%;
	-webkit-animation: rotateOutNewspaper .5s both ease-in;
	-moz-transform-origin: 50% 50%;
	-moz-animation: rotateOutNewspaper .5s both ease-in;
	transform-origin: 50% 50%;
	animation: rotateOutNewspaper .5s both ease-in;
}
.page-contact.ng-enter 		{
    -webkit-animation:slideInUp 0.5s both ease-in;
	-moz-animation:slideInUp 0.5s both ease-in;
	animation:slideInUp 0.5s both ease-in;
}

/* rotate and fall */
@-webkit-keyframes rotateFall {
	0% { -webkit-transform: rotateZ(0deg); }
	20% { -webkit-transform: rotateZ(10deg); -webkit-animation-timing-function: ease-out; }
	40% { -webkit-transform: rotateZ(17deg); }
	60% { -webkit-transform: rotateZ(16deg); }
	100% { -webkit-transform: translateY(100%) rotateZ(17deg); }
}
@-moz-keyframes rotateFall {
	0% { -moz-transform: rotateZ(0deg); }
	20% { -moz-transform: rotateZ(10deg); -moz-animation-timing-function: ease-out; }
	40% { -moz-transform: rotateZ(17deg); }
	60% { -moz-transform: rotateZ(16deg); }
	100% { -moz-transform: translateY(100%) rotateZ(17deg); }
}
@keyframes rotateFall {
	0% { transform: rotateZ(0deg); }
	20% { transform: rotateZ(10deg); animation-timing-function: ease-out; }
	40% { transform: rotateZ(17deg); }
	60% { transform: rotateZ(16deg); }
	100% { transform: translateY(100%) rotateZ(17deg); }
}

/* scale up */
@keyframes scaleUp {
	from 		{ opacity: 0.3; transform: scale(0.8); }
}
@-moz-keyframes scaleUp {
	from 		{ opacity: 0.3; -moz-transform: scale(0.8); }
}
@-webkit-keyframes scaleUp {
	from 		{ opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
	from 	{ transform:translateX(100%); }
	to 		{ transform: translateX(0); }
}
@-moz-keyframes slideInRight {
	from 	{ -moz-transform:translateX(100%); }
	to 		{ -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
	from 	{ -webkit-transform:translateX(100%); }
	to 		{ -webkit-transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
	from 	{ transform:translateY(100%); }
	to 		{ transform: translateY(0); }
}
@-moz-keyframes slideInUp {
	from 	{ -moz-transform:translateY(100%); }
	to 		{ -moz-transform: translateY(0); }
}
@-webkit-keyframes slideInUp {
	from 	{ -webkit-transform:translateY(100%); }
	to 		{ -webkit-transform: translateY(0); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
	to 		{ transform: translateX(-100%); }
}
@-moz-keyframes slideOutLeft {
	to 		{ -moz-transform: translateX(-100%); }
}
@-webkit-keyframes slideOutLeft {
	to 		{ -webkit-transform: translateX(-100%); }
}

/* rotate out newspaper */
@-webkit-keyframes rotateOutNewspaper {
	to { -webkit-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@-moz-keyframes rotateOutNewspaper {
	to { -moz-transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}
@keyframes rotateOutNewspaper {
	to { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}





.page-index.ng-enter 		{
    -webkit-animation:scaleUp 0.5s both ease-in;
	-moz-animation:scaleUp 0.5s both ease-in;
	animation:scaleUp 0.5s both ease-in;
}
.page-index.ng-leave        {
    -webkit-animation:slideOutLeft 0.5s both ease-in;
	-moz-animation:slideOutLeft 0.5s both ease-in;
	animation:slideOutLeft 0.5s both ease-in;
}