<div class="show-hide-animation" style="padding-bottom: 66px;">
	<div class="panel b-a no-border" style="margin-bottom: 0px;">
            <ul class="list-group">
            	<li ng-repeat="city in vm.area"  >
            	<div style="background-color:#f9f9f9;padding-top: 5px;padding-bottom: 5px;">
            	<small class="text-muted" style="padding-left: 15px;">
            		{{city.city}}
            	</small>
            	</div>
            	<div ng-repeat="region in city.region_list" class="list-group-item no-bg" style="background-color:white" ng-show="region.number!=0">
	            	<div>
	            		<a  ng-init="isCollapsed = true" ng-click="isCollapsed = !isCollapsed">
	            			<span class="pull-right" ><span class="pull-right">{{region.number}}<span class="text-info"><i class="fa  icon-arrow-right " ng-class="{'icon-arrow-down': !isCollapsed, 'icon-arrow-right': isCollapsed}" style="padding-left: 5px;"></i></span></span></span>
		            		<div class="text-black">
		            		{{region.region}}
		            		</div>
	            		</a>
	            	</div>
	            	 <div ng-repeat="business in region.business_list" collapse="isCollapsed" class="checkbox  panel-collapse collapse in" style="height: auto;padding-top: 15px;">
			              
			              
			              <label class="i-checks pull-left" style="">
			                <input type="checkbox" id={{business.businessid}} name="{{business.business}}" data-ng-checked="vm.isSelected(business.businessid)" data-ng-click="vm.updateSelection($event,business.businessid)" >
			                <i></i>
			              </label>
			              <a href="#/assignments/{{vm.salerid}}/{{business.businessid}}"><span class="pull-right">{{business.number}}<i class="fa fa-angle-right" style="padding-left: 5px;"></i></span>
			                <div class="media-body" style="padding-left: 10px;">
			                <div class="text-black">
			                {{business.business}}
			                </div>
			                </div>	          			
	          			</a>
	          			
	        		</div>
            	</div>
            	</li>
            </ul>
        </div>   
        
        
</div>
 <div class="settings" style="width:100%;background-color:#f0f3f4;bottom: 0px;">
    <p style="width:80%;margin:0 auto;padding-top: 10px;padding-bottom: 10px;">
        <button type="submit" class="btn btn-info btn-lg btn-block" data-ng-click="vm.assign()"><i class="fa fa-check-square-o"></i>确认分配</button>
      </p>
 </div>
<div style="height:60px; line-height: 60px;" ng-show="vm.busy" class="text-center" >正在加载...</div>


