
<div class="show-hide-animation" >
    <div  class="h4 app-header navbar navbar-fixed-top" style="min-height: 0px;">
            <!-- navbar header -->
            <div class=" bm-navbar-header text-center ">
                <button ng-if="vm.getEditModel=='1'" data-ng-click="vm.headerEdit()" class="bm-head-button pull-right visible-xs dk" >
                  编辑
                </button>
                <button ng-if="vm.getSaveModel=='1'" data-ng-click="vm.regiest()" class="bm-head-button pull-right visible-xs dk" >
                  保存
                </button>
                      个人资料
                <a href="{{vm.backurl}}">
                    <img ng-if="vm.getBackModel=='1'" data-ng-click="vm.headerBack()"  class=" pull-left no-border bm-img-back"  src="/born_manager/static/src/img/back.png">
                </a>
                <button ng-if="vm.getSaveModel=='1'" data-ng-click="vm.headerCancel()" class="bm-head-button pull-left visible-xs dk">
                  取消
                </button>
            </div>
            <!-- / navbar header -->

    </div>
    <div ng-hide="vm.edit()=='edit'" class="panel hbox panel-default no-border" style="margin-bottom: 0px;margin-top:56px">
        <div class="panel-body text-center" style="padding-top:35px;padding-bottom:15px;padding-right:20px;padding-left:20px">
            <div class="avatar">
                <img data-ng-show="vm.settings.image==''" style="width:95px; text-align:center;" src="/born_manager/static/src/img/default_company.png" class="img">
                <img data-ng-show="vm.settings.image!=''" style="width:95px;text-align:center;" ng-src="data:image/png;base64,{{vm.settings.image}}" class="img">
           </div>
        </div>


        <div class="no-bg bm-item" >
            <div class="bm-top" >
                姓名
                <img src="/born_manager/static/src/img/details.png" class="pull-right" style="width:25px;">
            </div>
            <div class="bm-main" >
                {{vm.settings.name}}
            </div>
        </div>
        <div class="no-bg bm-item" >
            <div class="bm-top" >
                密码
                <img src="/born_manager/static/src/img/password.png" class="pull-right" style="width:25px;">
            </div>
            <div class="bm-main" >
                ················
            </div>
        </div>
        <div class="no-bg bm-item" >
            <div class="bm-top">
                邮箱
                <img src="/born_manager/static/src/img/email.png" class="pull-right" style="width:25px;">
            </div>
            <div class="bm-main" >
                {{vm.settings.email}}
            </div>
        </div>
        <div class=" no-bg bm-item">
            <div class="bm-top" >
                手机
                <img src="/born_manager/static/src/img/phone.png" class="pull-right" style="width:25px;">
            </div>
            <div class="bm-main" >
                {{vm.settings.tel}}
            </div>
        </div>
        <div class="no-bg bm-item">
            <div class="bm-top">
                销售团队
                <img src="/born_manager/static/src/img/groups.png" class="pull-right" style="width:25px;">
            </div>
            <div class="bm-main">
                {{vm.settings.team_name}}
            </div>
        </div>
        <div class="no-bg bm-item" ng-if="">
            <div class="bm-top">
                团队主管
                <img src="/born_manager/static/src/img/men.png" class="pull-right" style="width:25px;">
            </div>
            <div class="bm-main">
                {{vm.settings.manager_name}}
            </div>
        </div>
     <div class="" style="width:100%;bottom: 0px;padding-top: 45px;">
    <p style="width:80%;margin:0 auto;padding-top: 10px;padding-bottom: 10px;">
        <button type="submit" class="btn btn-lg btn-block" data-ng-click="vm.logout()" style="color:white;background-color:#ffa69a;">退出登录</button>
      </p>
 </div>
    </div>

    <div ng-show="vm.edit()=='edit'" class="panel hbox panel-default no-border" style="margin-bottom: 0px;margin-top:56px">
        <div class="panel-body text-center" style="padding-top:35px;padding-bottom:15px;padding-right:20px;padding-left:20px">
            <div class="  avatar">
                <input ng-show="false" id="File" type="file" file-model="myFile"style="" />
                <img data-ng-show="vm.reset.image==''"  onclick="changeimg()"  style="width:95px; text-align:center;" src="/born_manager/static/src/img/default_company.png" class="img">
                <img data-ng-show="vm.reset.image!=''"  onclick="changeimg()"  style="width:95px; text-align:center;" ng-src="{{vm.reset.image}}" class="img">
           </div>
        </div>

        <div class="no-bg bm-item" >
            <div class="bm-left-font">
                姓名
                <input editable-text="user.name" class="editable editable-click no-border text-left bm-right-font"  placeholder="输入新姓名"  data-ng-model="vm.reset.name"/>
                <i class="fa-times-circle fa pull-right btn" style="margin-left: 0px;" data-ng-click="vm.clear('name')"></i>
            </div>
        </div>
        <div class="no-bg bm-item" >
            <div class="bm-left-font" >
                密码
                <input type="password" editable-text="user.email" class="editable editable-click no-border text-left bm-right-font" placeholder="输入新密码" data-ng-model="vm.reset.password"/>
                <i class="fa-times-circle fa pull-right btn" style="margin-left: 0px;"  data-ng-click="vm.clear('password')"></i>
            </div>
        </div>
        <div class="no-bg bm-item" >
            <div class="bm-left-font">
                邮箱
                <input editable-text="user.name" type="email" class="editable editable-click no-border text-left bm-right-font"  placeholder="输入新邮箱" data-ng-model="vm.reset.email"/>
                <i class="fa-times-circle fa pull-right btn" style="margin-left: 0px;"  data-ng-click="vm.clear('email')"></i>
            </div>
        </div>
    </div>
</div>
