<div class="show-hide-animation" style="">

    <div class="panel hbox panel-default no-border" style="margin-bottom: 0px;">
        <div class="panel-body text-center" style="padding: 20px;">
            <div class="  avatar m-r">
                <input ng-show="false" id="File2" type="file" file-model="myFile"style="" />
                <img data-ng-show="image==''"  onclick="changeimg()"  style="width:95px; text-align:center;" src="/born_manager/static/src/img/default_employee.png" class="img">
                <img data-ng-show="image==''"  onclick="changeimg()"  style="width:95px; text-align:center;" ng-src="{{$scope.image}}" class="img">
           </div>
        </div>

        <div class="no-bg bm-item" >
            <div class="bm-top">
                –’√˚
                <input editable-text="user.name" class="editable editable-click no-border text-left bm-font"  data-ng-model="vm.settings.name"/>
                <img src="/born_manager/static/src/img/details.png" class="pull-right">
            </div>
        </div>
        <div class="no-bg bm-item" >
            <div class="bm-top" >
                √‹¬Î
                <input type="password" editable-text="user.email" class="editable editable-click no-border text-right bm-font" placeholder=" ‰»Î–¬√‹¬Î" data-ng-model="vm.settings.password"/>
                <img src="/born_manager/static/src/img/password.png" class="pull-right">
            </div>
        </div>
        <div class="no-bg bm-item" >
            <div class="bm-top">
                ” œ‰
                <img src="/born_manager/static/src/img/email.png" class="pull-right">
                <input editable-text="user.name" type="email" class="editable editable-click no-border text-left bm-font" data-ng-model="vm.settings.email"/>
            </div>
            <div class="bm-main" >
            </div>
        </div>

    </div>
</div>

