 <div class="show-hide-animation"  style="margin-bottom: 0px;padding-bottom: 0px;">

     <!-- 年月日导航-->
     <div class="panel no-border text-center bm-three-head" style="padding-top:15px;margin-bottom: 0px;background-color: #FFFFFF;">
    	<div class="" style="width:100%">
        	<button ng-class="{day: 'bm-active'}[vm.nav.display]" ng-click="vm.setDisplay('day')" class=" bg-white  no-border bm-top-btn"  >日</button>
        	<button ng-class="{week: 'bm-active'}[vm.nav.display]" ng-click="vm.setDisplay('week')" class="bg-white no-border bm-top-btn"  >周</button>
        	<button ng-class="{month: 'bm-active'}[vm.nav.display]" ng-click="vm.setDisplay('month')" class="bg-white no-border bm-top-btn" >月</button>
    	</div>
	</div>
     <div class="bm-main-body">
     <div class="panel" style="  margin-bottom: 0px;background-color: #F2F2F2;">
    	<div class="hbox text-center  b-light text-sm " style="padding: 10px  10px;" >
        	<a  ng-click="vm.setPage(-1)" class="col text-left" style="width:30px;padding: 0px;">
            	<span   class=" bm-light no-shadow  btn  no-border" style=";border-radius:50px 0px 0px 50px;   "  >
                	<i class="fa fa-angle-left" style="color:#A0A0A0;"></i>
            	</span>
       		</a>
        	<a class="col bm-light" style=" padding: 5px 0px; ">
           		<span class="bm-light">{{ vm.nav.display_current }}</span>
        	</a>
        	<a ng-click="vm.setPage(1)" class="col text-right" style="width:30px;padding: 0px;">
            	<span class="bm-light no-shadow  btn  no-border " style="border:0px;border-radius:0px 50px 50px 0px; " >
           			<i class="fa fa-angle-right" style="color:#A0A0A0;"></i>
             	</span>
        	</a>
     	</div>
  	</div>

     <div class="hbox text-center b-t b-b b-light text-sm bm-wrapper">
        <div class="bm-two-col-left col padder-v text-muted b-r b-light ">
            <a href ng-click="vm.click('done')">
                <div ng-class="{1:'bm-two-col-up-font-hightlight', 2:'bm-two-col-up-font-default'}[vm.state]">{{vm.updated_company_count}}</div>
                <div class="bm-top">公司数</div>
            </a>

        </div>
        <div class="bm-two-col-right col padder-v text-muted ">
            <a href ng-click="vm.click('draft')">
                <div ng-class="{2:'bm-two-col-up-font-hightlight', 1:'bm-two-col-up-font-default'}[vm.state]">{{vm.not_updated_company_count}}</div>
                <div class="bm-top">未审核数</div>
            </a>
        </div>

    </div>
    <div ng-if="vm.state==1" id="triangle-up1">&nbsp;</div>
    <div ng-if="vm.state==2" id="triangle-up2">&nbsp;</div>
    <!--<div style="width:5px;height:5px">-->

    <!--</div>-->

    <div ng-show="vm.state==1" id="infinite1" infinite-scroll='vm.getUpdatedCompanys()' infinite-scroll-parent="true" infinite-scroll-distance='1' infinite-scroll-disabled='vm.busy' >
        <div>
            <div ng-repeat="company in vm.updatedCompanys">
                <a href="#company/updated/{{company.id}}" >
                    <div class="no-bg bm-item">
                        <span class="pull-right">
                            {{company.cnt}}单
                            <i class=" fa fa-fw fa-angle-right text"></i>
                        </span>
                        {{company.name}}
                      </div>
                </a>
            </div>
        </div>
    </div>

    <div ng-show="vm.state==2" id="infinite2" infinite-scroll='vm.getNotUpdatedCompanys()' infinite-scroll-parent="true" infinite-scroll-distance='1' infinite-scroll-disabled='vm.busy' >
        <div >
            <div ng-repeat="company in vm.notUpdatedCompanys">
                <a href="#company/notupdated/{{company.id}}" >
                    <div class="no-bg bm-item">
                        <span class="pull-right">
                            <i class=" fa fa-fw fa-angle-right text"></i>
                        </span>
                        {{company.name}}
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
 </div>
<div style="height:60px; line-height: 60px;" ng-show="vm.busy" class="text-center" >正在加载...</div>