 <div class="show-hide-animation"  style="margin-bottom: 0px;padding-bottom: 0px;">
    <div class="hbox text-center b-t b-b b-light text-sm bm-wrapper">
        <div class="bm-two-col-left col padder-v text-muted b-r b-light ">
            <a href ng-click="vm.click('done')">
                <div ng-class="{1:'bm-two-col-up-font-hightlight', 2:'bm-two-col-up-font-default'}[vm.state]">{{vm.updated_company_count}}</div>
                <div class="bm-top">公司数</div>
            </a>

        </div>
        <div class="bm-two-col-right col padder-v text-muted ">
            <a href ng-click="vm.click('draft')">
                <div ng-class="{2:'bm-two-col-up-font-hightlight', 1:'bm-two-col-up-font-default'}[vm.state]">{{vm.not_updated_company_count}}</div>
                <div class="bm-top">未审核数</div>
            </a>
        </div>

    </div>
    <div ng-if="vm.state==1" id="triangle-up1">&nbsp;</div>
    <div ng-if="vm.state==2" id="triangle-up2">&nbsp;</div>
    <!--<div style="width:5px;height:5px">-->

    <!--</div>-->

    <div ng-if="vm.state==1" id="infinite1" infinite-scroll='vm.getCompanys("done")' infinite-scroll-parent="true" infinite-scroll-distance='1' infinite-scroll-disabled='vm.busy' >
        <div>
            <div ng-repeat="company in vm.companys">
                <a href="#company/updated/{{company.id}}" >
                    <div class="no-bg bm-item">
                        <span class="pull-right">
                            {{company.use_dates}}天
                            <i class=" fa fa-fw fa-angle-right text"></i>
                        </span>
                        {{company.name}}
                      </div>
                </a>
            </div>
        </div>
    </div>

    <div ng-if="vm.state==2" id="infinite2" infinite-scroll='vm.getCompanys("draft")' infinite-scroll-parent="true" infinite-scroll-distance='1' infinite-scroll-disabled='vm.busy' >
        <div >
            <div ng-repeat="company in vm.companys">
                <a href="#company/notupdated/{{company.id}}" >
                    <div class="no-bg bm-item">
                        <span class="pull-right">
                            <i class=" fa fa-fw fa-angle-right text"></i>
                        </span>
                        {{company.name}}
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div style="height:60px; line-height: 60px;" ng-show="vm.busy" class="text-center" >正在加载...</div>