<div class="panel">

    <div>
        <div class="panel-body text-center" style="padding: 20px;">
            <div class="avatar m-r">
                <img  style="width:95px; text-align:center;" src="/born_manager/static/src/img/default_employee.png" class="img">
                <!--<img data-ng-show="vm.settings.image!=''" style="width:95px;text-align:center;" ng-src="data:image/png;base64,{{vm.settings.image}}" class="img">-->
           </div>
        </div>
    </div>

    <div>
        <div class="hbox text-center b-t b-b b-light text-sm bm-wrapper">
            <div class="col padder-v text-muted b-r b-light bm-three-col">
                <div class="bm-three-col-up-font">{{ vm.company.license_count }}</div>
                <div class="bm-top">设备数</div>
            </div>
            <div class="col padder-v text-muted bm-three-col">
                <div class="bm-three-col-up-font">{{ vm.company.use_dates }}</div>
                <div class="bm-top">使用天数</div>
            </div>
            <div class="col padder-v text-muted bm-three-col">
                <div class="bm-three-col-up-font">{{ vm.company.member_count }}</div>
                <div class="bm-top">会员数</div>
            </div>
        </div>



    </div>

    <div class="no-bg bm-item">
        <div class="bm-top">
            品牌
            <img class="pull-right" src="/born_manager/static/src/img/details.png">
        </div>
        <div class="bm-main">
            {{ vm.company.brand }}
        </div>
    </div>
    <div class="no-bg bm-item">
        <div class="bm-top">
            公司
            <img class="pull-right" src="/born_manager/static/src/img/company.png">
        </div>
        <div class="bm-main">
            {{ vm.company.name  }}
        </div>
    </div>
    <div class="no-bg bm-item">
        <div class="bm-top">
            行业
            <img class="pull-right" src="/born_manager/static/src/img/groups.png">
        </div>
        <div class="bm-main">
            {{ vm.company.industry_category }}
        </div>
    </div>
    <div class="no-bg bm-item">
        <div class="bm-top">
            地址
            <img class="pull-right" src="/born_manager/static/src/img/address.png">
        </div>
        <div class="bm-main">
            {{vm.company.address}}
        </div>
    </div>
    <div class="no-bg bm-item">
        <div class="bm-top">
            门店
            <img class="pull-right" src="/born_manager/static/src/img/name.png">
        </div>
        <div class="bm-main">
            {{ vm.company.shop_count }} 家
        </div>
    </div>
    <div class="no-bg bm-item">
        <div class="bm-top">
            员工
            <img class="pull-right" src="/born_manager/static/src/img/phone.png">
        </div>
        <div class="bm-main">
            {{vm.company.res_users_count}} 人
        </div>
    </div>
    <div class="no-bg bm-item">
        <div class="bm-top">
            权益金 (营)
            <img class="pull-right" src="/born_manager/static/src/img/phone.png">
        </div>
        <div class="bm-main">
            ￥ {{ vm.company.cash_total }}
        </div>
    </div>
    <div class="no-bg bm-item">
        <div class="bm-top">
            消耗额 (收)
            <img class="pull-right" src="/born_manager/static/src/img/phone.png">
        </div>
        <div class="bm-main">
            ￥ {{ vm.company.consume_total }}
        </div>
    </div>
    <div class="no-bg bm-item">
        <div class="bm-top">
            联系人
            <img class="pull-right" src="/born_manager/static/src/img/phone.png">
        </div>
        <div class="bm-main">
            {{ vm.company.contact_name }}
        </div>
    </div>
    <div class="no-bg bm-item">
        <div class="bm-top">
            手机
            <img class="pull-right" src="/born_manager/static/src/img/phone.png">
        </div>
        <div class="bm-main">
            {{ vm.company.phone }}
        </div>
    </div>
    <div>
        <div class="col">
            <div class="wrapper bm-wrapper">
              <ul class="timeline">

                  <li class="tl-item">
                    <div class="bm-timeline tl-wrap b-danger">
                        <span class="bt-timeline-left tl-date">最后登录时间</span>
                        <div class="tl-content bm-timeline-right">
                          <div><i class="icon-clock bm-i-clock"></i>{{ vm.company.last_consume_date }}</div>
                        </div>
                    </div>
                </li>



                  <li class="tl-item">
                    <div class="bm-timeline tl-wrap b-info">
                        <span class="bt-timeline-left tl-date">审核时间</span>
                        <div class="tl-content bm-timeline-right">
                          <div><i class="icon-clock bm-i-clock"></i>{{ vm.company.approve_date }}</div>
                        </div>
                    </div>
                </li>

                  <li class="tl-item">
                    <div class="bm-timeline tl-wrap b-success">
                        <span class="bt-timeline-left tl-date">创建时间</span>
                        <div class="tl-content bm-timeline-right">
                            <div><i class="icon-clock bm-i-clock"></i>{{ vm.company.create_date }}</div>
                        </div>
                    </div>
                </li>

              </ul>
            </div>
        </div>
    </div>
    <div class="no-bg bm-item">
        销售
        <span class="pull-right">{{vm.company.sale_employee_name}}</span>

    </div>
    <div class="no-bg bm-item">
        技术支持
        <span class="pull-right">{{vm.company.employee_name}}</span>

    </div>
</div>