<div class="show-hide-animation" >
    <div class="panel hbox  no-border" style="border-bottom: 0px;margin-bottom: 8px;" >
    <div class="panel-heading  b-b " style="background-color: #f5f5f5">
              <span class=" pull-right text-info ">共计：{{ vm.shops.length }}</span> 门店列表
        </div>
        <div class="list-group ">
            <a data-ng-repeat="shop in vm.shops"  class="list-group-item">
              {{shop.name}}
                <span class="pull-right">{{ shop.mobile }}</span>
            </a>
        </div>
    </div>
</div>





