
<div class="show-hide-animation"  style="margin-bottom: 0px;padding-bottom: 0px;">
    <div class="panel no-border">
        <div class="hbox text-center b-b b-light text-sm">
          <a href="#/licenses/0" class="col padder-v text-muted b-r b-light">
              <img style="width: 33px;"  src="/born_manager/static/src/img/pos.png">
            <div>设备管理</div>
          </a>
          <a href="#/companys"  class="col padder-v text-muted b-r b-light">
              <img  style="width: 33px;"  src="/born_manager/static/src/img/member.png">
         	<div>公司审核</div>
          </a>
          <a href="#/panel" class="col padder-v text-muted">
              <img style="width: 33px;"   src="/born_manager/static/src/img/purchase.png">
          	<div>看报表</div>
          </a>
        </div>
        <div class="hbox text-center  b-light text-sm">
          <a href="#/partners/default " class="col padder-v text-muted b-r b-light">
              <img  style="width: 33px;"  src="/born_manager/static/src/img/sale.png">
          	<div>销售</div>
          </a>
          <a href="#/salepanel"  class="col padder-v text-muted b-r b-light">
              <img style="width: 33px;"   src="/born_manager/static/src/img/stock.png">
          	<div>销售管理</div>
          </a>
          <a href="" class="col padder-v text-muted">

          </a>
        </div>
    </div>
</div>





