<div class="bm-move" style="background-color:white">
    <div ng-if="vm.track.img!=''">
        <img src="{{vm.track.img}}" style="width:100%">
    </div>
                <div class="bm-main-three-line-wrapper" style="padding-left: 25px;" >
                <!--<div class="bm-main-three-line-wrapper" style="padding-left: 25px;" data-ng-repeat="saler in vm.salers">-->
                        <div class="bm-main-three-line h4" style="padding-left: 30px;padding-bottom: 20px;">
                            <span class="pull-right" data-ng-repeat="re in vm.track.result">
                                <div class="bm-b-all h5" >
                                    {{re}}
                                </div>
                            </span>
                            <img ng-if="vm.track.saler_img==null" class="pull-left bm-img-s-l" src="/born_manager/static/src/img/defaultlogo.png">
                            <img ng-if="vm.track.saler_img!=null" class="pull-left bm-img-s-l" ng-src="data:image/png;base64,{{vm.track.saler_img}}">
                            <div class="h5" style="width: 100%;color: black;padding-left: 10px;margin-top:8px">
                                {{vm.track.saler}}
                            </div>
                        </div>
                </div>
    <div class="bm-main-three-line-wrapper">
        <div class="bm-main-three-line" style="padding-left: 0px;padding-bottom: 20px;">
            <div class="text-left h3 text-black" style="padding-bottom:10px">
                {{vm.track.result_title}}
            </div>
            <div class="h6" style="color:#58666e;padding-bottom:10px">
                <img class="pull-left" src="/born_manager/static/src/img/salermanager/time.png" style="width:25px"><span class="pull-left" style="line-height:25px">完成:{{vm.track.time| limitTo:16}}</span><span style="line-height:25px;padding-left:10px">截止:{{vm.track.mission_date}}</span>
            </div>
            <div class="h6" style="color:#58666e;padding-bottom:10px">
                <img class="pull-left" src="/born_manager/static/src/img/salermanager/location.png" style="width:25px">
                <span style="line-height:25px">{{vm.track.address}}</span>
            </div>
        </div>
    </div>
    <div class="bm-main-three-line-wrapper">
        <div class="bm-main-three-line " style="padding-left:0px;padding-bottom:20px;">
            <div class="text-left h5" style="padding-bottom:10px;color:#58666e">
                {{vm.track.notes}}
            </div>
        </div>
    </div>
    <div class="bm-main-three-line-wrapper" >
        <div class="bm-main-three-line" style="padding-left:0px">
            <input type="text" class="editable editable-click no-border text-left " style="width:100%" placeholder="添加批注" />
        </div>
    </div>
        <div class="bm-item">
            <a data-ng-click="vm.approval()" class="btn no-radius btn-lg btn-danger bm-button">审批通过</a>
        </div>
</div>