<div>
    <div class="text-center">
        <img class="" src="/born_manager/static/src/img/salermanager/mark.png" style="margin-top: 70px;width:150px">
    </div>
    <div class="h2 text-center" style="margin-top: 30px;">
        任务审批完成
    </div>
    <div ng-hide="vm.url==''" class="bm-top text-center" style="margin-top: 10px;color:red;">
        <a data-ng-click="vm.next()">
            下一个任务
        </a>
    </div>
    <div class="h3 text-center" style="margin-top: 150px;">
        <a href="#/menus">
            <img src="/born_manager/static/src/img/salermanager/close.png" style="width:57px">
        </a>
    </div>
</div>