<div>
    <div class="text-center">
        <img class="" src="/born_manager/static/src/img/salermanager/mark.png" style="margin-top: 70px;width:150px">
    </div>
    <div class="h2 text-center" style="margin-top: 30px;">
        任务创建成功
    </div>
    <div class="bm-top text-center" style="margin-top: 10px;">
        不要忘记哦！
    </div>
    <div class="h3 text-center" style="margin-top: 150px;">
        <a ng-click="vm.jump()">
            <img src="/born_manager/static/src/img/salermanager/close.png" style="width:57px">
        </a>
    </div>
</div>