<div>
    <div class="" style="height:305px;background: linear-gradient(to right bottom, #FFA69A 0%,#FC3768 100%);">
        <div class="bm-head-top">
            <a href="#/menu">
                <span class="bm-head-top-icon-left"><img src="/born_manager/static/src/img/salermanager/backwhite.png" style="margin-left: 5px;width:13px;height:23px"></span>
            </a>
        </div>
        <div class="text-center">
            <img src="/born_manager/static/src/img/salermanager/ranking.png" style="weight:70px;height:63px;margin-top:20px">
        </div>
        <div class="text-center h4" style="color:white;margin-top:20px">
            本月销售排行榜
        </div>
        <div style="margin-top:40px" class="bm-b-light bm-b-b">
            <div class="pull-left bm-b-r" style="width:50%;height: 100px;">
                <div class="text-center" style="color: white;font-size: 40px;padding-top: 7px;">
                    9
                </div>
                <div class="text-center" style="color: rgba(246, 246, 246, 0.53);font-size: 10px">
                    贡献的员工数
                </div>
            </div>
            <div class="pull-right" style="width:50%">
                <div class="text-center" style="color: white;font-size: 40px;padding-top: 7px;">
                    214
                </div>
                <div class="text-center" style="color: rgba(246, 246, 246, 0.53);font-size: 10px">
                    拓展的公司数
                </div>
            </div>
        </div>
    </div>
    <div>
                <!--<div class="bm-main-three-line-wrapper" style="padding-left: 25px;" data-ng-repeat="saler in vm.salers">-->
                <div class="bm-main-three-line-wrapper" style="padding-left: 25px;" >
                        <div class="bm-main-three-line h4" style="padding-left: 30px;padding-bottom: 20px;">
                            <span class="pull-right">69</span>
                            <img ng-if="saler.saler_img==''" class="pull-left bm-img-s-l" src="/born_manager/static/src/img/defaultlogo.png">
                            <!--<img ng-if="saler.saler_img!=''" class="pull-left bm-img-s-l" ng-src="data:image/png;base64,{{saler.saler_img}}">-->
                            <div style="width: 100%;padding-left: 10px;color:#a5a5a5">
                                <!--{{saler.saler_name}}-->大白熊
                            </div>
                        </div>
                    <div>
                        <uib-progressbar class="progress-striped" animate="false" max="69" value="69" type="danger" style="height:2px;margin-bottom:0px"></uib-progressbar>
                    </div>
                </div>
                <!--<div class="bm-main-three-line-wrapper" style="padding-left: 25px;" data-ng-repeat="saler in vm.salers">-->
                <div class="bm-main-three-line-wrapper" style="padding-left: 25px;" >
                        <div class="bm-main-three-line h4" style="padding-left: 30px;padding-bottom: 20px;">
                            <span class="pull-right">50</span>
                            <img ng-if="saler.saler_img==''" class="pull-left bm-img-s-l" src="/born_manager/static/src/img/defaultlogo.png">
                            <!--<img ng-if="saler.saler_img!=''" class="pull-left bm-img-s-l" ng-src="data:image/png;base64,{{saler.saler_img}}">-->
                            <div style="width: 100%;padding-left: 10px;color:#a5a5a5">
                                <!--{{saler.saler_name}}-->大白熊
                            </div>
                        </div>
                        <div>
                        <uib-progressbar class="progress-striped" max="69" value="50" type="danger" style="height:2px;margin-bottom:0px"></uib-progressbar>
                        </div>
                </div>
                <!--<div class="bm-main-three-line-wrapper" style="padding-left: 25px;" data-ng-repeat="saler in vm.salers">-->
                <div class="bm-main-three-line-wrapper" style="padding-left: 25px;" >
                        <div class="bm-main-three-line h4" style="padding-left: 30px;padding-bottom: 20px;">
                            <span class="pull-right">20</span>
                            <img ng-if="saler.saler_img==''" class="pull-left bm-img-s-l" src="/born_manager/static/src/img/defaultlogo.png">
                            <!--<img ng-if="saler.saler_img!=''" class="pull-left bm-img-s-l" ng-src="data:image/png;base64,{{saler.saler_img}}">-->
                            <div style="width: 100%;padding-left: 10px;color:#a5a5a5">
                                <!--{{saler.saler_name}}-->大白熊
                            </div>
                        </div>
                        <div>
                            <uib-progressbar class="progress-striped" max="69" value="20" type="danger" style="height:2px;margin-bottom:0px"></uib-progressbar>
                        </div>
                </div>
                <!--<div class="bm-main-three-line-wrapper" style="padding-left: 25px;" data-ng-repeat="saler in vm.salers">-->
                <div class="bm-main-three-line-wrapper" style="padding-left: 25px;" >
                        <div class="bm-main-three-line h4" style="padding-left: 30px;padding-bottom: 20px;">
                            <span class="pull-right">69</span>
                            <img ng-if="saler.saler_img==''" class="pull-left bm-img-s-l" src="/born_manager/static/src/img/defaultlogo.png">
                            <!--<img ng-if="saler.saler_img!=''" class="pull-left bm-img-s-l" ng-src="data:image/png;base64,{{saler.saler_img}}">-->
                            <div style="width: 100%;padding-left: 10px;color:#a5a5a5">
                                <!--{{saler.saler_name}}-->大白熊
                            </div>
                        </div>
                </div>
                <!--<div class="bm-main-three-line-wrapper" style="padding-left: 25px;" data-ng-repeat="saler in vm.salers">-->
                <div class="bm-main-three-line-wrapper" style="padding-left: 25px;" >
                        <div class="bm-main-three-line h4" style="padding-left: 30px;padding-bottom: 20px;">
                            <span class="pull-right">69</span>
                            <img ng-if="saler.saler_img==''" class="pull-left bm-img-s-l" src="/born_manager/static/src/img/defaultlogo.png">
                            <!--<img ng-if="saler.saler_img!=''" class="pull-left bm-img-s-l" ng-src="data:image/png;base64,{{saler.saler_img}}">-->
                            <div style="width: 100%;padding-left: 10px;color:#a5a5a5">
                                <!--{{saler.saler_name}}-->大白熊
                            </div>
                        </div>
                </div>
    </div>
</div>