<div class="show-hide-animation" >
    <div class="panel no-border text-center " style="padding-top:15px;margin-bottom: 0px;background-color: #FFFFFF;">
    	<div class="" style="width:100%">
        	<button ng-class="{all: 'bm-active'}[vm.display]" ng-click="vm.setDisplay('all')" class=" bg-white  no-border bm-top-btn-two"  >总计</button>
        	<button ng-class="{companys: 'bm-active'}[vm.display]" ng-click="vm.setDisplay('companys')" class="bg-white no-border bm-top-btn-two"  >公司</button>
    	</div>
	</div>




    <div ng-if="vm.display=='all'">
        总计图表
    </div>



    <div ng-if="vm.display=='companys'" id="infinite2" infinite-scroll='vm.getCompanys("done")' infinite-scroll-parent="true" infinite-scroll-distance='1' infinite-scroll-disabled='vm.busy' >
        <div ng-repeat="company in vm.companys">
            <a href="" >
                <div class="no-bg bm-item">
                    <span class="pull-right">
                        <i class=" fa fa-fw fa-angle-right text"></i>
                    </span>
                    {{company.name}}
                  </div>
            </a>
        </div>
    </div>
</div>
<div style="height:60px; line-height: 60px;" ng-show="vm.busy" class="text-center" >正在加载...</div>