    <!--任务-->
    <div ng-if="vm.type=='managermissions'">

        <div>
            <div  id="infinite1" infinite-scroll='vm.getFinishTrack()' infinite-scroll-parent="true" infinite-scroll-distance='1' infinite-scroll-disabled='vm.busy' >
                <div class="bm-main-three-line-wrapper" style="padding-left: 25px;" data-ng-repeat="track in vm.tracklist">
                    <a href="#/approval/{{track.id}}">
                        <div class="bm-main-three-line">
                            <img ng-if="track.user_img==''" class="pull-right" style="width:30px;padding-top: 10px;" src="/born_manager/static/src/img/defaultlogo.png">
                            <img ng-if="track.user_img!=''" class="pull-right" style="width:30px;margin-top: 10px;border-radius: 500px;;" ng-src="data:image/png;base64,{{track.user_img}}">
                            <div style="width:90%;color:black">
                                <img style="width:14px;height:12px" class="bm-main-three-line-title-tag" src="/born_manager/static/src/img/saler/done.png">
                                {{track.employee}}完成任务：{{track.name}}
                            </div>
                            <div class="bm-main-three-line-detail"  style="width:90%;font-size:10px">
                                <span class="bm-main-three-line-span"><img class="bm-main-three-line-img" src="/born_manager/static/src/img/salermanager/company.png">{{track.company_name}}</span>
                                <span class="bm-main-three-line-span"><img class="bm-main-three-line-img" src="/born_manager/static/src/img/saler/time.png">{{track.time|limitTo:16}}</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>


        <div>
            <div  ng-if="vm.DoneTrack" id="infinite1" infinite-scroll='vm.getDoneTrack()' infinite-scroll-parent="true" infinite-scroll-distance='1' infinite-scroll-disabled='vm.busy' >
                <div class="bm-main-three-line-wrapper" style="padding-left: 25px;" data-ng-repeat="donetrack in vm.donetracklist">
                    <div class="bm-main-three-line">
                            <img ng-if="donetrack.user_img==''" class="pull-right opacity" style="width:30px;padding-top: 10px;" src="/born_manager/static/src/img/defaultlogo.png">
                            <img ng-if="donetrack.user_img!=''" class="pull-right opacity" style="width:30px;margin-top: 10px;border-radius: 500px;;" ng-src="data:image/png;base64,{{donetrack.user_img}}">
                        <div class="opacity" style="width:90%;color:black">
                            <img style="width:14px;height:12px" class="bm-main-three-line-title-tag" src="/born_manager/static/src/img/saler/done.png">
                            {{donetrack.employee}}完成任务：{{donetrack.name}}
                        </div>
                        <div class="bm-main-three-line-detail"  style="width:90%;font-size:10px">
                            <span class="bm-main-three-line-span opacity"><img class="bm-main-three-line-img opacity" src="/born_manager/static/src/img/salermanager/company.png">{{donetrack.company_name}}</span>
                            <span class="bm-main-three-line-span opacity"><img class="bm-main-three-line-img opacity" src="/born_manager/static/src/img/saler/time.png">{{donetrack.time|limitTo:16}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--任务-->
    <div ng-if="vm.type=='missions'">
        <div  id="infinite3" infinite-scroll='vm.getMissions("notOk")' infinite-scroll-parent="true" infinite-scroll-distance='1' infinite-scroll-disabled='vm.busy' >

        <div ng-repeat="missionsUnfinished in vm.missionsUnfinished" class="bm-main-three-line-wrapper">
            <div class="bm-main-three-line">
                <div class="bm-main-three-line-title">
                    <!--状态图标-->
                    <span ng-if="missionsUnfinished.mission_state=='pause'" class="bm-main-three-line-title-tag"><i class="glyphicon glyphicon-pause"></i></span>
                    <span ng-if="missionsUnfinished.mission_state=='start'" class="bm-main-three-line-title-tag"><i class="glyphicon glyphicon-play"></i></span>
                    <span ng-if="missionsUnfinished.mission_state=='finished'" class="bm-main-three-line-title-tag"><i class="fa fa-check"></i></span>
                    <span ng-if="missionsUnfinished.mission_state=='notstart'" style="visibility:hidden" class="bm-main-three-line-title-tag-grey"><i class="fa fa-check"></i></span>

                    <span class="bm-main-three-line-title-font">{{missionsUnfinished.mission_name}}</span>
                    <span ng-if="vm.role == '7'" class="pull-right"><img class=" bm-main-three-line-img" ng-click="vm.changeMissionState(missionsUnfinished)" src="/born_manager/static/src/img/three-points.png"></span>
                </div>

                <div class="bm-main-three-line-detail">
                    <span class="bm-main-three-line-span"><img class="bm-main-three-line-img" src="/born_manager/static/src/img/saler/phone.png">{{missionsUnfinished.mission_contacts_phone}}</span>
                    <span class="bm-main-three-line-span"><img class="bm-main-three-line-img" src="/born_manager/static/src/img/saler/bounds.png">{{missionsUnfinished.mission_contacts_name}}</span>
                    <span class="bm-main-three-line-span"><img class="bm-main-three-line-img" src="/born_manager/static/src/img/saler/time.png">{{missionsUnfinished.mission_date}}</span>
                </div>

                <div class="bm-main-three-line-detail">
                    <span>
                        <img class="bm-main-three-line-img" src="/born_manager/static/src/img/saler/location-copy.png">{{missionsUnfinished.mission_address}}
                    </span>
                </div>
            </div>
        </div>
        </div>

        <div ng-show="vm.showButton" class="bm-btn-add-more-wrapper">
            <!--<button class="">10个已完成任务</button>-->
            <button class="btn m-b-xs bm-btn-add-more" ng-click="vm.clickMore()">{{vm.missions_unfinished_numbers}}个已完成任务</button>
        </div>

        <div ng-if="vm.showFinishedmissions">
            <div id="infinite4" infinite-scroll='vm.getMissions("ok")' infinite-scroll-parent="true" infinite-scroll-distance='1' infinite-scroll-disabled='vm.busy' >
                <div ng-repeat="missionsFinished in vm.missionsFinished" class="bm-main-three-line-wrapper">
                    <a ng-click="vm.jumpWithCache(missionsFinished.mission_id)">
                    <div class="bm-main-three-line">
                        <div class="bm-main-three-line-title">
                            <!--状态图标-->
                            <span  class="bm-main-three-line-title-tag-grey"><i class="fa fa-check"></i></span>
                            <span class="bm-main-three-line-title-font-grey">{{missionsFinished.mission_name}}</span>
                        </div>

                        <div class="bm-main-three-line-detail">
                            <span class="bm-main-three-line-span-grey"><img class="bm-main-three-line-img" src="/born_manager/static/src/img/saler/phone.png">{{missionsFinished.mission_contacts_phone}}</span>
                            <span class="bm-main-three-line-span-grey"><img class="bm-main-three-line-img" src="/born_manager/static/src/img/saler/bounds.png">{{missionsFinished.mission_contacts_name}}</span>
                        </div>

                        <div class="bm-main-three-line-detail">
                            <span class="bm-main-three-line-span-grey">
                                <img class="bm-main-three-line-img" src="/born_manager/static/src/img/saler/location-copy.png">{{missionsFinished.mission_address}}
                            </span>
                        </div>
                    </div>
                    </a>
                </div>
            </div>
        </div>
    </div>



    <!--商户-->
        <div  ng-if="vm.type=='partners'" id="infinite1" infinite-scroll='vm.getPartners()' infinite-scroll-parent="true" infinite-scroll-distance='1' infinite-scroll-disabled='vm.busy' >

            <a ng-href="#saler/partner/{{partner.partner_id}}" ng-repeat="partner in vm.partners">
            <div  class="no-bg bm-item">
                <span class="bm-main-three-line-title-font">{{partner.partner_name}}</span>
                <span class="pull-right bm-main-two-line-title-right-font-grey">共{{partner.missions_count}}任务<i class=" fa fa-fw fa-angle-right text"></i></span>
            </div>
            </a>
        </div>


    <!--公司-->
        <div  ng-if="vm.type=='companys'" id="infinite2" infinite-scroll='vm.getCompanys()' infinite-scroll-parent="true" infinite-scroll-distance='1' infinite-scroll-disabled='vm.busy' >
            <a ng-href="#saler/company/{{company.company_id}}" ng-repeat="company in vm.companys">
                <div  class="no-bg bm-item">
                    <div>
                        <span class="bm-main-three-line-title-font">{{company.company_name | limitTo:10}} {{company.company_name.length > 10 ? '...' : ''}}</span>
                        <span class="pull-right bm-main-three-line-title-font-grey">{{company.use_days}}天<i class=" fa fa-fw fa-angle-right text"></i></span>
                    </div>
                    <div>
                        <span class="bm-main-three-line-span"><img class="bm-main-three-line-img" src="/born_manager/static/src/img/saler/ticket.png"></span>
                        <span class="bm-main-three-line-span">共{{company.total_operate_number}}单.</span>
                        <span class="bm-main-three-line-span">今日{{company.today_operate_number}}单.</span>
                        <span class="bm-main-three-line-span">日均{{company.daily_average}}单.</span>
                    </div>
                </div>
            </a>
        </div>



<div style="height:60px; line-height: 60px;background-color:white" ng-show="vm.busy" class="text-center" >正在加载...</div>